<div th:fragment="footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Course</div>
                <div>
                    <a href="" target="_blank">Website</a>
                    &middot;
                    <a href="" target="_blank">Youtube channel</a>
                </div>
            </div>
        </div>
    </footer>
</div>
